#root {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: "Lato", serif;
  background-color: #F6F6F6;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  padding-inline-start: 0;
}

.btn {
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  display: block;
  width: max-content;
}

.btnLightBlue {
  background-color: #477bff;
}

.btnLightBlue:hover {
  background-color: #2260ff;
}

.btnBlue {
  background-color: #2260FF;
}

.btnBlue:hover {
  background-color: #2260ffbf;
}

.healthCardButton {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}